.sx{
    display: flex;
    justify-content: center;
    margin-top:4%;
}
span{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 3%;

}
.dx{
  margin-left:10% ;
  margin-top: 10%;
}

h3{
    padding:5%;
    background-color:#ecf0f1;
    text-align: center;
    font-size: 40px;
    color:rebeccapurple;
}